@{
    ViewData["Title"] = "Register Page";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to register account details</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
